/* Pseudo elements */

::selection {
    background-color: magenta;
    color: white;
}

h3::before{
    content: 'Web Development ';
    background-color: yellow;
}

h3::after {
    content: ' - We are G2 and we are awesome!!! ';
    background-color: tomato;
}

.box {
    width: 150px;
    height: 150px;
    background-color: magenta;

    position: relative;
}

.box::before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: black;

    position: absolute;
    left: 0px;
    top: -15px;
}